<div class="container register">
  <div class="form-group">
    <label for="firstname">First name</label>
    <input type="text" class="form-control" id="firstname" placeholder="First name" ng-model="firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Last name</label>
    <input type="text" class="form-control" id="lastname" placeholder="Last name" ng-model="lastname">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email" ng-model="email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
  </div>
  <button type="submit" class="btn btn-success btn-block pull-right" ng-click="register()">Register</button>
</div>
