.admin-dashboard{
  margin-top: 200px;
  .panel-body h4{
    margin-top: 20px;
  }
  .ui-select-multiple.ui-select-bootstrap input.ui-select-search{
    height: 26px;
    padding-left: 8px;
  }
  .get-report{
    width: 100%;
    margin-top: 20px;
  }
  .query-textarea{
    margin-top: 15px;
  }
  .query-panel {
    min-height: 300px;
    overflow-y: auto;
  }
}
